DATABASE_URL="file:./dev.db"
ADMIN_PASSWORD="troque-por-uma-senha-forte"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
INFINITEPAY_HANDLE="cstrancinhas"
CLOUDINARY_CLOUD_NAME="seu-cloud-name"
CLOUDINARY_API_KEY="sua-api-key"
CLOUDINARY_API_SECRET="seu-api-secret"
